<!-- Data Counter -->
    <div id="fh5co-counter" class="fh5co-counters" style="background-image: url(img/pettah1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">

			<!-- distance -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
				<h2>A typical route</h2>
					<p>The data below indicates the sheer amount of exposure that can be gained by a very diverse audience on a daily basis.</p>
					<hr>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="50" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Total Journey Distance 
							<br>
							(To and back)</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="150" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Average Distance travelled per day</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="5" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/days</span>
							<span class="fh5co-counter-label">Number of days per week</span>
						</div>
							<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3000" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Total Average Distance travelled per month</span>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<!-- hours -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/hours</span>
							<span class="fh5co-counter-label">Average Journey Time
							<br>
							(To and back)</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="9" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/hours</span>
							<span class="fh5co-counter-label">Average Time travelled per day</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/days</span>
							<span class="fh5co-counter-label">Number of journeys per day</span>
						</div>
							<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3000" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/hours</span>
							<span class="fh5co-counter-label">Total Journey time travelled per month</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
    <!-- /Data Counter -->