{% extends "base.html" %} <!--Our page template-->
{% set title = "About" %} <!--Set our page title-->


{% block content %} <!--Start page data-->

<!-- Main Slider -->
<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(img/02.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1 class="heading-section">About Us</h1>
									<h2>Our goal to implement Bus-Advertising on a large scale and make it accessible to a wide range of clients</h2>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		  	</ul>
	  	</div>
	</aside>
    <!-- /end of Main Slider image -->

    <!-- Abous Us Container -->
    <div id="fh5co-about">
		<div class="container">
			<div class="col-md-6 animate-box">
				<span>About Our Company</span>
				<h2>Welcome to LZN Media</h2>
				<p>Bus-Advertising in Sri-Lanka, to date, has not been effectively implemented nor has it been executed on a large scale. One of the reasons for this is the lack of information on the effectiveness of the platform. This has discouraged business from using Bus-Media as a medium of advertising.</p>
				<p>We aim to address this issue by coupling our services with quality information regarding Bus-media.</p>
			</div>
			<div class="col-md-6">
				<img class="img-responsive" src="img/06.jpg" alt="Free HTML5 Bootstrap Template">
			</div>
		</div>
	</div>
    <!-- / About Us Container -->


	<!-- Data Counter -->
	{% include 'parts/data-counter.html' %}
	<!-- /Data Counter -->

</div>

{% endblock %} <!--end Put page data block-->