{% extends "base.html" %} <!--Our page template-->
{% set title = "Home" %} <!--Set our page title-->


{% block content %} <!--Start Put page data-->


<!-- Main Slider -->
<aside id="fh5co-hero">
		<div class="flexslider">
			<ul class="slides">
		   	<li style="background-image: url(img/bg-1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>We specialise in large banner ads for public transport services.</h1>
							<!-- <h2>Brought to you by <a href="https://lznmedia.com" target="_blank">lznmedia.com</a></h2> -->
									<p><a class="btn btn-primary btn-lg" href="#">Get in touch!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(img/01.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Premium Bus-Advertising on an islandwide scale</h1>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">Get in touch!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(img/03.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Coupling your advertisement with data anlytics</h1>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">Get in touch!</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>		   	
		  	</ul>
	  	</div>
	</aside>
    <!-- /Main Slider -->

    <!-- Our Services -->
    <div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Our Services</h2>
					<p>We are LZN Media, a Start-Up advertising company that specializes in Bus-Advertising. It is our goal to implement Bus-Advertising on a large scale and make it accessible to a wide range of clients.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-banknote"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Prime Bus Routes</a></h3>
							<p>The route through which your establishment’s advertisement will be carried is one of the busiest routes passing some of the most populated and congested towns.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-pencil"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Innovative Design</a></h3>
							<p>Leverage our expertise in design to incorporate brand building visuals with tactical messaging.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-chart-line"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Data Analytics</a></h3>
							<p>Utilize data and research to engage more people to act upon a bus advertisement.</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-user"></i>
						</span>
						<div class="desc">
							<h3><a href="#">Quality Assurance</a></h3>
							<p>Couple our proffesional service with quality assurances.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- / Our Services -->

    <!-- Data Counter -->
    <div id="fh5co-counter" class="fh5co-counters" style="background-image: url(img/pettah1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">

			<!-- distance -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
				<h2>A typical route</h2>
					<p>The data below indicates the sheer amount of exposure that can be gained by a very diverse audience on a daily basis.</p>
					<hr>
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="50" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Total Journey Distance 
							<br>
							(To and back)</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="150" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Average Distance travelled per day</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="5" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/days</span>
							<span class="fh5co-counter-label">Number of days per week</span>
						</div>
							<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3000" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Total Average Distance travelled per month</span>
						</div>
					</div>
				</div>
			</div>

			<!-- hours -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/hours</span>
							<span class="fh5co-counter-label">Average Journey Time
							<br>
							(To and back)</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="9" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/hours</span>
							<span class="fh5co-counter-label">Average Time travelled per day</span>
						</div>
						<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/days</span>
							<span class="fh5co-counter-label">Number of journeys per day</span>
						</div>
							<div class="col-md-3 text-center animate-box">
							<span class="fh5co-counter js-counter" data-from="0" data-to="3000" data-speed="2000" data-refresh-interval="50"></span>
							<span class="unit">/km</span>
							<span class="fh5co-counter-label">Total Journey time travelled per month</span>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
    <!-- /Data Counter -->



</div>

{% endblock %} <!--end Put page data block-->